.highlights {
    background-color: #111111;
    height: 761px;
    & .hl-init-sign {
        width: 71px;
    }
    & .hl-inner-area {
        padding: 200px 165px 120px;
        width: 1110px;
    }
    & .hl-text {
        color: white;
        width: 445px;
        margin-right: 125px;
        & .hl-text-header {
            font-size: 40px;
            font-family: Spartan-Bold;
        }
        & .hl-text-desc {
            font-size: 18px;
            font-family: Spartan-Regular;
        }
    }
}
